---
import Layout from "@/layouts/Layout.astro";
import { contentfulClient, getNoticiaBySlug } from "@/lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "@/lib/contentful";
import { type Asset, type AssetDetails } from "contentful";

export const prerender = false;

let post;
let cover;
let attachments;
const { lang,  slug } = Astro.params;


  const noticia = await getNoticiaBySlug(slug || '', lang)
  
---

<Layout title="Welcome to Astro." description="La web de cebem">
  <main>
    <h1>{noticia?.titulo}</h1>
    <time>{noticia?.fechaPublicacion}</time>
    <img width="100px" src={noticia?.portada?.fields?.file?.url} />
    <article set:html={noticia?.contenido} />
   

<div class="flex gap-5">
    {
      noticia?.multimedia?.map((item: Asset) => {
        const file = item?.fields?.file;
        const url = file?.url as string;
        const title = item?.fields?.title as string;
        const contentType = file?.contentType as string;
        const details = file?.details as AssetDetails;
        const width = details?.image?.width as number;
        const height = details?.image?.height as number;

        if (contentType?.includes("image")) {
          return (
            <img
              width={100}
              src={url}
              alt={title}
              width={width}
              height={height}
            />
          );
        }

        if (contentType?.includes("video")) {
          return <video src={url} controls width={width} height={height} />;
        }

        if (contentType?.includes("pdf")) {
          return (
            <div class="p-5 border rounded">
              <a class="" href={url} target="_blank">
                Ver pdf
              </a>
            </div>
          );
        }

        return (
          <div class="p-5 border rounded">
            <a class="" href={url} target="_blank">
              Descargar archivo
            </a>
          </div>
        );
      })
    }
  </div>


  </main>
</Layout>
